@import 'https://unpkg.com/open-props/normalize.min.css';
@import 'https://unpkg.com/open-props';
@import 'https://unpkg.com/open-props/buttons.min.css';

html {
  min-height: 100%;
}

body {
  position: relative;

  /* font-size: 100%; */
  min-height: 100%;
}

.App {
  background-color: #212529;
  min-height: 100vh;
}

#app-container {
  overflow-y: auto;
  height: 100vh;
}

.markdown-container {
  width: calc(100% - 28px);
  margin: 24px auto 0 16px;
  max-width: 800px;
  padding: 0 0 30px 0;
}

@media screen and (min-width: 800px) {
  .markdown-container {
    margin: 24px auto 0px auto;
  }
}

.buttons {
  max-width: calc(100% - 48px);
  margin: 0 auto;
  padding: 24px 0 18px 0;
  display: flex;
  gap: 24px;
}

:where(ol, ul) {
  padding-inline-start: var(--size-3);
}

:where(li) {
  max-inline-size: unset;
  padding-inline-start: var(--size-0);
}
